body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    color:#585858;
}
header {
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 106px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;




}

.Login-button {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}
  
.Login-button:hover {
    background-color: #3fbcc5; 
    color: white;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #3fbcc5;
}

.login-button-padding {
    display:flex;
    justify-content: center;
}

header .logo{
    width: auto;
    height: 100px;
    padding-left: 5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    padding-left: 50px;
}

.row{
    padding: 10px;
}

/* .twelve_columns{
    padding: 10px;
} */

.App-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: center;
    padding: 10px;
    flex-grow: 2
    /* background-color: #EAE0D5; */
}

.Login-container{
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    padding: 10px;
}

input{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /* background-position: 10px 10px;  */
    background-repeat: no-repeat;
    /* background-size: 20px 20px; */
    /* background-image:url('../search-solid.svg'); */
    padding: 12px 20px 12px 40px;
}
select{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /* background-position: 10px 10px;  */
    background-repeat: no-repeat;
    /* background-size: 20px 20px; */
    /* background-image:url('../search-solid.svg'); */
    padding: 12px 20px 12px 40px;
}

.search-input{
    /* flex-grow: 3; */
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-image:url('../search-solid.svg');
    padding: 12px 20px 12px 40px;
}
.select-input{
    /* flex-grow:2; */
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /* background-position: 10px 10px;  */
    background-repeat: no-repeat;
    /* background-size: 20px 20px; */
    /* background-image:url('../search-solid.svg'); */
    padding: 12px 20px 12px 40px;

}

.notes-input{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-image:url('../clipboard-regular.svg');
    padding: 12px 20px 12px 40px;
}

.index-container{
    /* overflow: hidden; */
    width:80vw;
    background-color: #FDFFFC;
    display: flex;
    flex-direction: row;
    justify-content: center;

   
}

.patient-container{
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    border-radius: 10px;
    width:80vw;
    background-color: #FDFFFC;

   
}
   
.list-container{
    overflow: hidden;
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-evenly;


}

.index-list-container{
    overflow: hidden;
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;

   
}

.form_container {
    width:500px;
    padding-top: 80px;
}


.title{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:20px;
    /* border: 2px solid #ccc; */


}

.phone{
    display:flex;
    text-align: center;
    align-items: center;
    float: center;
    padding:20px;
    border: 2px solid #ccc;
    flex:2;

}




.title1{
    display:flex;
    align-items: center;
    padding: 30px;
    flex: 1 1 0;



}


.in_app{
    padding: 10px;
  
}
  
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.8);
    
    display: flex;
    justify-content: center;
    align-content: center;
}


.popup-inner{
    position: relative;
    padding: 32px;
    width: 80%;

    max-width: 640px;
    background-color: #fff;
    overflow-y:auto;

}

.popup-inner .close-btn{
    position: absolute;
    right: 16px;
    top: 16;
    /* background-color: white; 
    color: black; 
    border: 2px solid #3fbcc5; */

}

.popup-inner .edit-btn{
    position:   absolute;
    top:        5px;
    left:       5px;
    background-image: url('../edit-solid.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: #fff ; /* Green */
    border: solid rgba(0, 0, 0, 0.25);
    color: white;
    padding: 20px 20px;
    background-position: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    /* background-color: white; 
    color: black; 
    border: 2px solid #3fbcc5; */
}


.popup-card-container{
    padding: 5px;
}

/* .popup-outer-scroll{
    overflow-y:auto;
} */

.popup-card{
    position: relative;
    padding: 20px;
    border: 2px solid #3fbcc5;
    border-radius: 12px;
    box-shadow: 5px 5px 2.5px #3fbcc5
}

.popup-card .detail{
    position:absolute;
    bottom:0;
    right:0;
    padding:3px;
}


.popup-card .edit-note-button{
    position:absolute;
    bottom:0;
    left:0;
    padding: 3px;
    cursor: pointer;
    
}

.popup-card .input-edit{
    padding: 10px;
}

.note-container{
    padding: 5px; 

}


a:hover {
    cursor:pointer;
}

.patient-input-container{
    padding: 100px;

}

.add-patient-div{
    position:absolute;
    right: 16px;
    top: 115px;
}

.linear-progress{
    background: #3fbcc5 ;
    background-color: #3fbcc5;
}

.search-container{
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.search-container-billing{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search-container .inner-search-container{
   width: 100%;
   flex-basis: 1;
}

.search-container-billing .inner-billing-container{
    width: 65%;
    flex-basis: 1;

}

.search-container .inner-select-container{
    width: 20%;
    flex-basis: 2;
}


.adminLayout {
    height:100vh;
}

